#admin-login-container {
  display        : flex;
  align-items    : center;
  justify-content: center;
  height         : 100%;

  mat-card {
    padding: 40px;
  }

  .mat-form-field {
    width    : 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display        : flex;
    justify-content: center;
  }

  .button {
    display        : flex;
    justify-content: flex-end;
  }
}
